.footer {
	border-radius: 3rem;
	padding-block: 5rem 2.75rem;
	background-color: #F8F9FA;

	&__top {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: .375rem 1.5rem;
		margin-top: 5rem;
		border-top: 1px solid rgba(20, 46, 81, .1);
		padding-top: 2.5rem;

		&-list {
			display: flex;
			align-items: center;
			gap: .375rem 2.5rem;

			&_link {
				--_width: max-content;
				--_font-weight: 400;
				--_color: inherit;
			}
		}
	}

	&__start {
		display: flex;
		flex-direction: column;
		gap: 2.25rem;

		&-name {
			font-family: var(--font-title);
			font-weight: 700;
			color: var(--secondary-color);
			margin-bottom: .75rem;
		}

		&-list {
			font-size: var(--fs-sm);
			line-height: 1.3;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;

		&-header {
			margin-bottom: 1.5rem;
		}

		&-title {
			font-size: var(--fs-lg);
			margin-bottom: 0;
		}

		&-socials {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: .5rem;
		}

		&-schedule {
			display: flex;
			flex-direction: column;
			gap: .5rem;
			font-size: var(--fs-sm);
			margin-top: auto;

			&_value {
				font-family: var(--font-title);
				font-size: var(--fs-lg);
				font-weight: 700;
			}
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: .375rem;

		&-link {
			--_icon-size: 1.875rem;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		margin-bottom: 2.5rem;

		&-link {
			--_icon-size: 1.5rem;

			--_color-active: inherit;
			--_color-focus: inherit;

			gap: .875rem;

			&_content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: .25rem;
			}

			&_link {
				--_color: var(--primary-color);
				--_font-weight: inherit;

				--_color-active: var(--secondary-color);
				--_color-focus: var(--secondary-color);
			}
		}

		&-phone {
			--_font-size: var(--fs-xl);
			--_font-weight: 700;

			--_color-active: var(--primary-color);
			--_color-focus: var(--primary-color);
			
			font-family: var(--font-title);
		}
	}

}