.header {
	padding-block: 1.25rem;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.25rem;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 2.5rem;
	}
}