.hero {
	padding-block: 6.25rem 4rem;
	margin-bottom: 0;

	&__container {
		min-height: 42rem;
		display: flex;
		align-items: stretch;
		gap: 1.5rem;
	}

	&__start {
		width: 100%;
		max-width: 50rem;
	}

	&__title {
		margin-bottom: 1.25rem;
	}

	&__text {
		max-width: 37.5rem;
		font-size: var(--fs-xxl);
		margin-bottom: 4rem;
	}

	&__btn {
		display: none;
	}

	&__end {
		width: 100%;
		position: relative;
	}

	&__picture {
		width: 50rem;
		display: block;
		position: absolute;
		top: -2rem;
		left: -4.5rem;
	}

	&__image {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
	}

	&__info {
		width: 17.5rem;
		background-color: #fff;
		border-radius: var(--radius-sm);
		padding: .75rem 1.25rem .75rem 3rem;
		position: absolute;
		top: 32rem;
		right: 0;

		&-title {
			font-size: var(--fs-lg);
			margin-bottom: .25rem;
			position: relative;
			
			&::after {
				content: '';
				width: .625rem;
				height: .625rem;
				background-color: var(--primary-color);
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: -1.75rem;
				transform: translateY(-50%);
			}
		}

		&-hint {
			
			> span {
				display: block;
			}
		}
	}
}