.law {
	position: relative;

	&__picture {
		width: 53.625rem;
		height: 58.125rem;
		display: block;
		position: absolute;
		left: max(var(--container-offset), (100% - var(--content-width)) / 2 + 50rem);
		top: -6.25rem;
	}

	&__image {
		height: 100%;
		display: block;
		object-fit: contain;
	}

	&-swiper {
		max-width: 50rem;
		margin-inline: 0;
		font-size: var(--fs-lg);

		&__slide {
			display: flex;
			gap: 1rem;

			&-icon {
				--_i-size: 2.5rem;
			}
		}
	}

	&--background {
		background-repeat: no-repeat;
		background-position: 10rem center;
		background-size: contain;
		padding-block: 6.25rem;
	}

	&--inverse {

		.law__inner {
			max-width: 100%;
			display: flex;
			align-items: flex-start;
			gap: 4rem;
		}

		.law__card {
			width: 100%;
			max-width: 24.75rem;
			flex-shrink: 0;
			background-color: var(--background);
			border-radius: var(--radius-xxl);
			padding: 2.5rem 2.5rem 4rem;
			text-align: center;

			&-title {
				margin-bottom: 0;

				&--bigger {
					font-size: 6rem;
				}
			}
		}

		.law-swiper {
			max-width: 100%;

			&__slide {
				flex-direction: column;
				gap: 1.25rem;

				&-title {
					margin-bottom: .625rem;
				}
			}
		}
	}
}

@media (min-width: 75rem) {
	.law {

		&__inner {
			max-width: 58rem;
		}

		&-swiper {
	
			.swiper-wrapper {
				flex-wrap: wrap;
				gap: 2.5rem 1.875rem;
			}
	
			.swiper-slide {
				width: auto;
				flex-basis: calc(50% - .9375rem);
			}
	
			&__slide-text {
				margin-block: auto;
			}
	
			.swiper-pagination {
				display: none;
			}
		}
	}
}