/** > 1520px **/
@media (max-width: 95rem) {

	// insolvency
	.insolvency {
		width: calc(100% + var(--container-offset) * 2);
		max-width: unset;
		margin-inline: calc(var(--container-offset) * -1);
	}

	// law
	.law {

		&--background {
			background-position: left center;
		}

		&--inverse {

			.law__inner {
				gap: 3rem;
			}

			.law__content {
				width: calc(100% - 27.75rem);
			}
		}
	}

}

/** > 1400px **/
@media (max-width: 87.5rem) {

	// hero
	.hero {
		&__start {
			max-width: 44rem;
		}

		&__picture {
			width: clamp(42rem, 60vw, 50rem);
		}
	}

	// insolvency
	.insolvency {
		&__main {
			&-start {
				padding: 2.5rem 0 2.5rem 2.5rem;
			}
		}
	}

	// law
	.law {

		&--inverse {

			.law__inner {
				gap: 2rem;
			}

			.law__content {
				width: calc(100% - 26.75rem);
			}
		}
	}

	// callback
	.callback {

		&__inner {
			padding-inline: var(--container-offset);
		}

		&__info {
			max-width: 32rem;
		}

		&__picture {
			right: 20%;
		}

		&__detail {
			right: 32%;
		}

		&__form {
			max-width: 28rem;
			padding: 4rem 2.5rem;
		}
	}

	// address
	.address {

		&__inner,
		&__details {
			gap: 1.5rem;
		}
	}

}

/** > 1200px **/
@media (max-width: 75rem) {
	// buttons
	.btn-phone {
		.icon,
		&__text {
			display: none;
		}
	}


	// swipers
	.resizable-swiper {
		margin-inline: calc(var(--container-offset) * 2 * -1);
		padding-inline: calc(var(--container-offset) * 2);

		&__slide {
			--_background-color: var(--background);
			--_border-radius: var(--radius-sm);
			--_padding: 1.25rem .5rem;

			--_background-color-active: var(--_background-color);
			--_background-color-focus: var(--_background-color);

			box-shadow: 0 -3px 30px 0 rgba(20, 46, 81, 0.05);

			&--transparent {
				--_background-color: transparent;
				--_padding: 0;

				box-shadow: unset;
			}
		}

		&--triple {

			.swiper-slide {
				width: 100%;
			}

			.swiper-pagination {
				text-align: center;
			}
		}
	}

	// modals
	.graph-modal {

		&__container {

			&--quiz {

				.insolvency__main-start {
					padding-left: 0;
				}
			}
		}
	}

	// accordion
	.accodtion-section {
		background-position: top center;
	}

	.accordion-group--resizable {
		grid-template-columns: 1fr;

		.accordion {
	
			&.is-open {
	
				.accordion__btn .icon {
					transform: rotateX(180deg);
				}
			}
	
			&__btn {
				--_width: 100%;
				justify-content: space-between;
				margin-bottom: 0;
	
				.icon {
					position: static;
					transform: initial;
				}
			}

			&__content {
				margin-top: 1.25rem;
				border-top: 1px solid rgba($color: #142E51, $alpha: .1);
				padding-top: 1.25rem;
			}
		}
	}

	// burger
	.burger,
	.menu {
		display: flex;
	}

	[data-menu-overlay] {
		display: block;
	}

	// header
	.header {
		&__container {
			gap: 2rem;
		}

		&__yandex {
			margin-left: auto;
		}

		&__nav {
			display: none;
		}
	}

	// hero
	.hero {
		&__picture {
			left: -12vw;
		}

		&__info {
			top: 26rem;
		}
	}

	// law
	.law {

		.section-header {
			margin-bottom: 2.5rem;
			text-align: center;
		}
		
		&__picture {
			width: 16.64rem;
			height: 18rem;
			top: auto;
			left: auto;
			right: -4rem;
			bottom: -6rem;
		}

		&-swiper {
			max-width: 60%;

			&__slide {
				flex-direction: column;
			}

			.swiper-pagination {
				margin-top: 1rem;
			}
		}

		&--background {
			background-position: center;
		}

		&--inverse {

			.law__inner {
				flex-direction: column-reverse;
			}

			.law__card {
				margin-inline: auto;
			}

			.law__content {
				width: 100%;
			}

			.law-swiper {
				max-width: 21rem;
				margin-inline: auto;

				&__slide {
					align-items: center;
					text-align: center;
				}

				.swiper-pagination {
					text-align: center;
				}
			}
		}
	}

	// card
	.exactly-form {

		&__title,
		&__hint {
			max-width: 100%;
		}

		&,
		&__start,
		&__end {
			flex-direction: column;
		}

		&__start,
		&__end,
		&__submit,
		.form-field {
			width: 100%;
			flex: initial;
		}
	}
	
	// canceled
	.canceled-group {

		&.accordion-group--resizable {

			.accordion__body {
				height: calc(100% - 2rem);
			}
		}
	}

	// video
	.video-section {

		.section-bottom__more {
			display: none;
		}

		.section-bottom__all {
			display: flex;
		}
	}

	.video-swiper {
	
		.swiper-slide {
			width: auto;
		}

		.swiper-pagination {
			text-align: left;
		}
	}
	
	// personell
	.personnel-swiper {
		margin-inline: calc(var(--container-offset) * -1);
		padding-inline: calc(var(--container-offset) * 2);

		.swiper-slide {
			width: 23.125rem;
		}

		.swiper-button-custom {
			display: none;
		}

		.swiper-navigation {
			justify-content: flex-start;
		}

		.swiper-pagination {
			width: 100%;
		}
	}

	// callback
	.callback {

		&__inner {
			flex-direction: column;
			gap: 3rem;
			padding-bottom: 0;
		}

		&__info {
			max-width: 100%;
			text-align: center;
		}

		.section-header {
			margin-bottom: 0;
		}

		.section-text {
			max-width: 100%;
		}

		.callback__contacts {
			display: none;

			&--mobile {
				max-width: 50%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				align-self: start;
				gap: .875rem;
				text-align: left;
				margin-bottom: 4rem;
			}
		}

		&__form {
			max-width: 100%;
			padding: 5rem 3.125rem;
		}

		&__picture {
			right: -2.75rem;
			z-index: 1;
		}

		&__image {
			width: auto;
			height: 18rem;
		}

		&__detail {
			width: 15rem;
			right: 1rem;
			bottom: 1rem;
		}
	}

	// achievements
	.achievements {

		&__inner {
			flex-direction: column;
			gap: 3rem;
		}

		&__honors {
			flex-direction: column;

			&-item {
				width: 28rem;
				display: flex;
				align-items: center;
				gap: 1rem;
				text-align: left;

				&:nth-child(2n) {
					flex-direction: row-reverse;
				}
			}

			&-picture {
				margin-bottom: 0;
			}
		}
	}

	// address
	.address {

		&__inner {
			flex-direction: column;
		}

		&__callback {
			align-items: center;
		}
	}

	// cost
	.cost-swiper {

		.swiper-slide {
			width: 25.625rem;
		}
	}

	// question
	.question {
		grid-template-columns: 1fr;
	}

	// documents
	.documents {
		flex-direction: column;
		align-items: center;
	}
}

/** > 992px **/
@media (max-width: 62rem) {
	// header
	.header {
		&__yandex {
			display: none;
		}

		&__phone {
			margin-left: auto;
		}
	}

	// hero
	.hero {
		padding-block: 2.25rem;

		&__container {
			min-height: auto;
		}

		&__title,
		&__text {
			margin-inline: auto;
			text-align: center;
		}

		&__text {
			margin-bottom: 1.875rem;
		}

		&__btn {
			display: flex;
			margin: 0 auto 2.25rem;
		}

		&__start {
			max-width: 100%;
		}

		&__end {
			width: auto;
		}

		&__picture {
			width: 20rem;
			top: auto;
			left: -12rem;
			bottom: -12rem;
		}

		&__info {
			width: auto;
			background-color: transparent;
			padding: 0;
			top: auto;
			bottom: 0;
			right: 0.375rem;

			&-title {
				width: max-content;
				margin-left: auto;
				background-color: var(--background);
				border-radius: 0.25rem;
				padding: 0.25rem 0.375rem;
				margin-bottom: 0;

				&::after {
					all: initial;
				}
			}

			&-text {
				width: 12.25rem;
				background-color: rgba(252, 252, 252, 0.9);
				margin-top: -0.25rem;
				border-radius: 0.25rem;
				padding: 0.25rem 0.375rem;
			}

			&-hint {
				display: none;
			}
		}

		&-swiper {
			max-width: calc(100% - 12rem);
			margin-inline: 0;
		}
	}

	// insolvency
	.insolvency {
		&__header {
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		&__title {
			text-align: center;
		}

		&__achieved {
			max-width: 12rem;
			flex-direction: column;
		}

		&__main {
			flex-direction: column;
			padding: 1.25rem var(--container-offset);

			&-start {
				padding: 0.625rem 0 0;

				.insolvency__quastion,
				.insolvency__contacts {
					display: none;
				}
			}

			&-end {
				.insolvency__contacts {
					display: flex;
					flex-direction: column;
					gap: 0.625rem;
					font-size: var(--fs-sm);
				}
			}
		}
	}

	// quiz 
	.quiz {
		margin-bottom: 2rem;
	}

	// footer
	.footer {

		&__bottom {

			&-list {
				gap: .375rem 1.5rem;
			}
		}

		&__list {

			&--mobile {
				display: none;
			}
		}
	}
}

/** > 768px **/
@media (max-width: 48rem) {
	:root {
		--h1: 1.25rem;
		--h3: 1rem;
		--h5: 1rem;
		--h6: 1rem;
	}

	.text-desktop {
		display: none;
	}

	.text-mobile {
		display: block;
	}

	// sections
	.section {
		margin-bottom: 2.5rem;

		&-header {
			margin-bottom: 1.25rem;
		}

		&-title {
			font-size: var(--fs);
		}

		&-text {
			font-size: var(--fs-sm);
		}

		&-bottom {
			margin-top: .625rem;
		}
	}

	// backgrounds
	.background {
		&-inner {
			border-radius: var(--radius-lg);
		}
	}

	// buttons
	.btn-primary,
	.btn-secondary {
		--_height: 2.25rem;
		--_font-size: var(--fs-xs);
	}
	
	.btn-phone {
		--_font-size: var(--fs-sm);
	}

	.btn-lg {
		--_height: 3.75rem;
		--_font-size: 0.875rem;
	}

	// field
	.field {
		--_field-fs: var(--fs-sm);
		--_field-height: 3.75rem;
	}

	// checkbox
	.checkbox {
		gap: .5rem;
		font-size: .625rem;
		border-radius: .375rem;
		padding: .625rem .5rem;

		&-input {
			width: 1rem;
			height: 1rem;
		}

		&-check {
			width: .5rem;
			height: .5rem;
		}
	}

	// accordion
	.accordion {
		&__btn {
			--_icon-size: 1.5rem;

			.icon {
				right: -1.75rem;
			}
		}

		&__content {
			margin-block: 1rem;
		}

		&__list {
			&-link {
				--_font-size: var(--fs-sm);
			}
		}
	}

	.accordion-group--resizable {
		gap: .625rem;

		.accordion {
			border-radius: .5rem;
			padding: var(--container-offset);

			&__btn {
				font-size: var(--fs-sm);
			}

			&__content {
				margin-top: 1rem;
				padding-top: 1rem;
			}
		}
	}

	// logo
	.logo {
		.image {
			height: 1.875rem;
		}
	}

	// swipers
	.resizable-swiper {

		&__slide {
			--_width: 9.375rem;
			--_font-size: var(--fs-sm);
			--_padding: .5rem .5rem 1rem;

			&--transparent {
				--_padding: 0;
			}

			&-image--full {
				width: 9.375rem;
				height: 9.375rem;
			}
		}
	}

	// modals
	.graph-modal {

		&__container {

			&--quiz {
				.insolvency__main {
					padding-inline: var(--container-offset);
				}
			}
		}

		&__form {
			font-size: var(--fs-sm);
		}
	}

	// header
	.header {
		&__container {
			gap: 1.5rem;
		}
	}

	// burger
	.menu {
		max-width: 20rem;

		&__close {
			--_icon-size: 0.875rem;
		}

		&__list {
			gap: 1.25rem;

			&-link {
				--_font-size: var(--fs-sm);
			}
		}

		&__address {
			max-width: 13rem;
			font-size: var(--fs-sm);

			&-icon {
				--_i-size: 1.5rem;
			}
		}

		&__yandex {
			margin-block: 1.25rem;

			.image {
				height: 3.125rem;
			}
		}

		&__text {
			font-size: var(--fs-sm);
		}
	}

	// hero
	.hero {
		&__title,
		&__text {
			max-width: 20rem;
		}

		&__text {
			font-size: var(--fs);
		}

		&__picture {
			width: 18rem;
			left: -10rem;
			bottom: -8rem;
		}

		&__info {
			&-title {
				font-size: var(--fs-sm);
			}

			&-text {
				width: 9.375rem;
				font-size: 0.75rem;
			}
		}

		&-swiper {
			max-width: calc(100% - 7rem);
		}
	}

	// features
	.feature {
		&__picture {
			height: 3.75rem;
		}

		&__text {
			font-size: var(--fs-sm);
		}
	}

	// insolvency
	.insolvency {
		border-radius: var(--radius);
		padding-block: 2rem;

		&__header {
			margin-bottom: 2rem;
		}

		&__achieved {
			&-current {
				font-size: 3rem;
			}
		}

		&__main {
			border-radius: var(--radius-sm);
			gap: 0;

			.insolvency__title {
				margin-bottom: 1.25rem;
			}
		}

		&__contacts {
			text-align: center;
		}

		&__text {
			display: none;
			font-size: var(--fs-sm);
			
			&:first-child {
				display: block;
			}
		}

		&__link {
			display: inline-block;
		}
	}

	// quiz
	.quiz {
		margin-bottom: 1rem;
		padding: 1.25rem var(--container-offset);

		&-header {
			margin-bottom: 1rem;

			&__title {
				font-size: var(--fs);
			}

			&__subtitle {
				font-size: var(--fs-xs);
			}
		}

		&-content {
			gap: .375rem;
			margin-bottom: 1.25rem;
		}

		&-bottom {

			&__text {
				max-width: 8rem;
				font-size: .625rem;
			}
		}

		&-prev-btn,
		&-next-btn {
			--_padding: .25rem 1.125rem;
		}

		&-hint {
			font-size: .625rem;
		}
	}

	// law
	.law {

		&__picture {
			width: 14.1875rem;
			height: 15.375rem;
			right: -4rem;
			bottom: -4rem;
		}

		.section-header {
			gap: 1rem;
		}

		&-swiper {
			font-size: var(--fs-sm);

			&__slide-icon {
				--_i-size: 1.25rem;
			}
		}

		&--background {
			padding-block: 4rem 0;
			background-size: 50vw;
		}

		&--inverse {

			.law__card {
				border-radius: var(--radius-lg);
				padding: 1.25rem 1.125rem 2rem;

				&-title--bigger {
					font-size: 3rem;
				}

				&-text {
					font-size: var(--fs-sm);
				}
			}

			.law-swiper__slide {
				gap: .625rem;

				&-title {
					font-size: var(--fs);
				}
			}
		}
	}

	// card
	.key-card {
		padding: 0 1rem;

		&__image {
			height: 6.25rem;
		}

		&__title {
			font-size: var(--fs);
		}

		&__text {
			font-size: var(--fs-sm);
		}
	}

	.exactly-form,
	.exactly-card {
		padding: 1.875rem var(--container-offset);
	}

	.exactly-card {
		width: 13.75rem;
		min-height: 14rem;
		font-size: var(--fs-sm);

		&__title {
			margin-bottom: 1rem;
		}
		
		&__text + .exactly-card__text {
			margin-top: 1rem;
		}
	}

	.exactly-form {

		&,
		&__start,
		&__end {
			gap: .625rem;
		}

		&__title {
			margin-bottom: .625rem;
		}
	}

	.video-card {
		max-width: 13.75rem;
		font-size: var(--fs-sm);

		&__btn {
			--_height: 16.25rem;
			--_border-radius: var(--radius-sm);

			--_icon-size: 4rem;
		}

		&__info {
			gap: .375rem;
		}

		&__case {
			--_height: auto;
			--_padding: 0;
			--_font-size: var(--fs-xs);
			--_background-color: transparent;
			--_background-color-active: var(--_background-color);
			--_background-color-focus: var(--_background-color);

			--_icon-size: 1rem;

			gap: .375rem;
		}
	}

	.personnel-card {
		font-size: var(--fs-xs);

		&__picture {
			margin-bottom: .625rem;
		}

		&__image {
			height: 17.1875rem;
			border-radius: var(--radius-sm);
		}
	}

	// canceled
	.canceled-group {

		&.accordion-group--resizable {
			.accordion__body {
				height: calc(100% - 1.5rem);
			}
		}
	}

	.canceled {

		&__header,
		&__list-item {
			grid-template-columns: 1fr;
			gap: .375rem;
		}

		&__header {
			margin-bottom: .625rem;

			&-name {
				font-size: var(--fs-sm);
				padding: .75rem 1rem;

				.image {
					display: block;
					width: 1.25rem;
					height: 1.25rem;
				}
			}
		}

		&__list {
			gap: 1.25rem;
			margin-bottom: 2rem;
		}
	}

	// video
	.video-section {

		.section-bottom {
			margin-top: 2.5rem;

			&__all {
				--_width: 100%;
			}
		}
	}

	// personell
	.personnel-swiper {
		margin-top: 0;
		padding-top: 0;

		.swiper-slide {
			width: 13.75rem;
		}

		.swiper-slide-active {
			transform: initial;
		}

		.swiper-navigation {
			margin-top: 1rem;
		}
	}

	// callback
	.callback-section {
		margin-bottom: 2.5rem;
	}

	.callback {

		&__inner {
			gap: 1.25rem;
			padding-top: 1.875rem;
		}

		.section-header {
			gap: .625rem;
		}

		.section-title {
			font-size: var(--fs);
		}

		&__picture {
			right: -3.75rem;
		}

		&__image {
			height: 15rem;
		}

		&__detail {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: max-content;
			font-size: var(--fs-xs);
			background-color: transparent;
			border-radius: 0;
			padding: 0;

			&-title {
				width: max-content;
				font-size: var(--fs-sm);
				background-color: var(--background);
				margin-bottom: 0;
				border-radius: .375rem;
				padding: .25rem .375rem;

				&::after {
					all: initial;
				}
			}

			&-text {
				width: 9rem;
				margin-top: -.25rem;
				background-color: var(--background-gray);
				border-radius: .375rem;
				padding: .375rem;
			}
		}

		&__form {
			padding: 1.875rem var(--container-offset);

			&-text {
				font-size: var(--fs-sm);
				margin-bottom: 1.25rem;
			}

			&-field {
				margin-bottom: .625rem;
			}

			&-hint {
				font-size: var(--fs-xs);
				margin-top: .625rem;
			}

			&-submit {
				--_padding: .25rem .5rem;
			}
		}

		&__contacts {
			max-width: 45%;
			font-size: var(--fs-sm);
			margin-bottom: 3rem;
		}
	}

	// achievements
	.achievements {

		&__title {
			margin-bottom: 2rem;

			&--bigger {
				font-size: 3rem;
			}
		}

		&__inner {
			gap: 2rem;
		}

		&__list {
			gap: 2rem;
			padding: 2rem .5rem 2rem 1.5rem;

			&-value {
				font-size: 3rem;

				&::after {
					width: .5rem;
					height: .5rem;
				}
			}

			&-text {
				font-size: var(--fs-sm);
			}
		}

		&__honors {
			gap: 1.5rem;

			&-item {
				width: 100%;
				max-width: 18rem;
				gap: .625rem;
			}

			&-image {
				height: 5rem;
			}

			&-title {
				font-size: var(--fs-sm);
			}
		}
	}

	// address
	.address {
		font-size: var(--fs);
		margin-bottom: 2.5rem;

		&__inner {
			gap: 2.5rem;
		}

		&__callback,
		&__details {
			gap: 1rem;
		}

		&__callback {
			text-align: center;

			&-link {
				--_font-size: var(--fs-xxl);

				--_icon-size: 1.5rem;

				gap: .875rem;
			}
		}

		&__details {
			width: 100%;
			flex-direction: column;
			align-items: stretch;
			font-size: var(--fs-sm);

			&-item {
				font-size: var(--fs);

				.icon {
					--_i-size: 1.5rem;
				}
			}
		}
	}

	// list
	.list-icon {
		font-size: var(--fs-sm);
		gap: 1rem;

		li {
			gap: .625rem;
		}

		.icon {
			--_i-size: 1.25rem;
		}
	}

	.list-primary {
		gap: .625rem;
	}

	// cost
	.cost-swiper {

		.swiper-slide {
			width: 13.75rem;
		}
	}

	.cost {
		min-height: 35.625rem;
		padding: 1.875rem 1rem;

		&__text,
		&__subtext {
			font-size: var(--fs-sm);
		}

		&__text,
		&__list,
		&__subtext  {
			margin-bottom: 1rem;
		}
	}

	// documents
	.documents {
		font-size: var(--fs-sm);

		li::marker {
			font-size: var(--fs);
		}

		&__widget {
			padding: 1.25rem 1rem;
		}
	}

	// question
	.question {

		&__image {
			height: 70vw;
			min-height: 12.5rem;
			border-radius: var(--radius-sm);
		}

		&,
		.accordion-group {
			gap: .625rem;
		}

		.accordion {
			font-size: var(--fs-sm);
			background-color: var(--background);
			border-bottom: 0;
			border-radius: var(--radius-sm);
			padding: .625rem 1rem;

			&__btn {
				--_font-size: inherit;

				.icon-group {
					display: none;
				}
			}

			&__content {
				margin-block: .625rem .375rem;
				border-top: 1px solid rgba($color: #142E51, $alpha: .1);
				padding-top: 1rem;
				padding-left: 0;
			}
		}
	}

	// description
	.description {
		font-size: var(--fs-sm);
		padding-bottom: 2rem;

		&__btn {
			display: block;
		}
	}

	// footer
	.footer {
		padding-block: 1.5rem 2.5rem;

		&__logo {
			width: max-content;
			margin-inline: auto;

			.image {
				height: 3.75rem;
			}
		}

		&__start {
			gap: 1.25rem;
		}

		&__top {
			justify-content: center;
			text-align: center;
		}

		&__bottom {
			flex-direction: column;
			margin-top: 2.25rem;
			font-size: var(--fs-sm);
			border-top: 0;
			padding-top: 0;
			text-align: center;

			&-list {
				flex-direction: column;

				&_link {
					--_width: auto;
				}
			}
		}

		&__list {
			display: none;
		}

	}
}

/** > 576px **/
@media (max-width: 36rem) {

	// menu
	.menu {
		max-width: 100%;
	}

	// law
	.law--background {
		background-size: contain;
	}

}

/** > 380px **/
@media (max-width: 23.75rem) {
}
