/** > 1520px **/
@media (max-width: 95rem) {

	// insolvency
	.insolvency {
		width: calc(100% + var(--container-offset) * 2);
		max-width: unset;
		margin-inline: calc(var(--container-offset) * -1);
	}

	// law
	.law {

		&--background {
			background-position: left center;
		}

		&--inverse {

			.law__inner {
				gap: 3rem;
			}

			.law__content {
				width: calc(100% - 27.75rem);
			}
		}
	}

}

/** > 1400px **/
@media (max-width: 87.5rem) {

	// hero
	.hero {
		&__start {
			max-width: 44rem;
		}

		&__picture {
			width: clamp(42rem, 60vw, 50rem);
		}
	}

	// insolvency
	.insolvency {
		&__main {
			&-start {
				padding: 2.5rem 0 2.5rem 2.5rem;
			}
		}
	}

	// law
	.law {

		&--inverse {

			.law__inner {
				gap: 2rem;
			}

			.law__content {
				width: calc(100% - 26.75rem);
			}
		}
	}

}

/** > 1200px **/
@media (max-width: 75rem) {
	// buttons
	.btn-phone {
		.icon,
		&__text {
			display: none;
		}
	}

	// swipers
	.resizable-swiper {
		margin-inline: calc(var(--container-offset) * 2 * -1);
		padding-inline: calc(var(--container-offset) * 2);

		&__slide {
			--_background-color: var(--background);
			--_border-radius: var(--radius-sm);
			--_padding: 1.25rem .5rem;

			--_background-color-active: var(--_background-color);
			--_background-color-focus: var(--_background-color);

			box-shadow: 0 -3px 30px 0 rgba(20, 46, 81, 0.05);

			&--transparent {
				--_background-color: transparent;
				--_padding: 0;

				box-shadow: unset;
			}
		}

		&--triple {

			.swiper-slide {
				width: 100%;
			}

			.swiper-pagination {
				text-align: center;
			}
		}
	}

	// burger
	.burger,
	.menu {
		display: flex;
	}

	[data-menu-overlay] {
		display: block;
	}

	// header
	.header {
		&__container {
			gap: 2rem;
		}

		&__yandex {
			margin-left: auto;
		}

		&__nav {
			display: none;
		}
	}

	// hero
	.hero {
		&__picture {
			left: -12vw;
		}

		&__info {
			top: 26rem;
		}
	}

	// law
	.law {

		.section-header {
			margin-bottom: 2.5rem;
			text-align: center;
		}
		
		&__picture {
			width: 16.64rem;
			height: 18rem;
			top: auto;
			left: auto;
			right: -4rem;
			bottom: -6rem;
		}

		&-swiper {
			max-width: 60%;

			&__slide {
				flex-direction: column;
			}

			.swiper-pagination {
				margin-top: 1rem;
			}
		}

		&--background {
			background-position: center;
		}

		&--inverse {

			.law__inner {
				flex-direction: column-reverse;
			}

			.law__card {
				margin-inline: auto;
			}

			.law__content {
				width: 100%;
			}

			.law-swiper {
				max-width: 21rem;
				margin-inline: auto;

				&__slide {
					align-items: center;
					text-align: center;
				}

				.swiper-pagination {
					text-align: center;
				}
			}
		}
	}
}

/** > 992px **/
@media (max-width: 62rem) {
	// header
	.header {
		&__yandex {
			display: none;
		}

		&__phone {
			margin-left: auto;
		}
	}

	// hero
	.hero {
		padding-block: 2.25rem;

		&__container {
			min-height: auto;
		}

		&__title,
		&__text {
			margin-inline: auto;
			text-align: center;
		}

		&__text {
			margin-bottom: 1.875rem;
		}

		&__btn {
			display: flex;
			margin: 0 auto 2.25rem;
		}

		&__start {
			max-width: 100%;
		}

		&__end {
			width: auto;
		}

		&__picture {
			width: 20rem;
			top: auto;
			left: -12rem;
			bottom: -12rem;
		}

		&__info {
			width: auto;
			background-color: transparent;
			padding: 0;
			top: auto;
			bottom: 0;
			right: 0.375rem;

			&-title {
				width: max-content;
				margin-left: auto;
				background-color: var(--background);
				border-radius: 0.25rem;
				padding: 0.25rem 0.375rem;
				margin-bottom: 0;

				&::after {
					all: initial;
				}
			}

			&-text {
				width: 12.25rem;
				background-color: rgba(252, 252, 252, 0.9);
				margin-top: -0.25rem;
				border-radius: 0.25rem;
				padding: 0.25rem 0.375rem;
			}

			&-hint {
				display: none;
			}
		}

		&-swiper {
			max-width: calc(100% - 12rem);
			margin-inline: 0;
		}
	}

	// insolvency
	.insolvency {
		&__header {
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		&__title {
			text-align: center;
		}

		&__achieved {
			max-width: 12rem;
			flex-direction: column;
		}

		&__main {
			flex-direction: column;
			padding: 1.25rem var(--container-offset);

			&-start {
				padding: 0.625rem 0 0;

				.insolvency__quastion,
				.insolvency__contacts {
					display: none;
				}
			}

			&-end {
				.insolvency__contacts {
					display: flex;
					flex-direction: column;
					gap: 0.625rem;
					font-size: var(--fs-sm);
				}
			}
		}
	}

	// quiz 
	.quiz {
		margin-bottom: 2rem;
	}

	// footer
	.footer {

		&__bottom {

			&-list {
				gap: .375rem 1.5rem;
			}
		}

		&__list {

			&--mobile {
				display: none;
			}
		}
	}
}

/** > 768px **/
@media (max-width: 48rem) {
	:root {
		--h1: 1.25rem;
		--h3: 1rem;
	}

	// sections
	.section {
		margin-bottom: 2.5rem;

		&-header {
			margin-bottom: 1rem;
		}

		&-title {
			font-size: var(--fs);
		}

		&-text {
			font-size: var(--fs-sm);
		}
	}

	// backgrounds
	.background {
		&-inner {
			border-radius: var(--radius-lg);
		}
	}

	// buttons
	.btn-primary,
	.btn-secondary {
		--_height: 2.25rem;
		--_font-size: var(--fs-xs);
	}
	
	.btn-phone {
		--_font-size: var(--fs-sm);
	}

	.btn-lg {
		--_height: 3.75rem;
		--_font-size: 0.875rem;
	}

	// field
	.field {
		--_field-fs: var(--fs-sm);
		--_field-height: 3.75rem;
	}

	// checkbox
	.checkbox {
		gap: .5rem;
		font-size: .625rem;
		border-radius: .375rem;
		padding: .625rem .5rem;

		&-input {
			width: 1rem;
			height: 1rem;
		}

		&-check {
			width: .5rem;
			height: .5rem;
		}
	}

	// accordion
	.accordion {
		&__btn {
			--_icon-size: 1.5rem;

			.icon {
				right: -1.75rem;
			}
		}

		&__content {
			margin-block: 1rem;
		}

		&__list {
			&-link {
				--_font-size: var(--fs-sm);
			}
		}
	}

	// logo
	.logo {
		.image {
			height: 1.875rem;
		}
	}

	// swipers
	.resizable-swiper {

		&__slide {
			--_width: 9.375rem;
			--_font-size: var(--fs-sm);
			--_padding: .5rem .5rem 1rem;

			&--transparent {
				--_padding: 0;
			}

			&-image--full {
				width: 9.375rem;
				height: 9.375rem;
			}
		}
	}

	// header
	.header {
		&__container {
			gap: 1.5rem;
		}
	}

	// burger
	.menu {
		max-width: 20rem;

		&__close {
			--_icon-size: 0.875rem;
		}

		&__list {
			gap: 1.25rem;

			&-link {
				--_font-size: var(--fs-sm);
			}
		}

		&__address {
			max-width: 13rem;
			font-size: var(--fs-sm);

			&-icon {
				--_i-size: 1.5rem;
			}
		}

		&__yandex {
			margin-block: 1.25rem;

			.image {
				height: 3.125rem;
			}
		}

		&__text {
			font-size: var(--fs-sm);
		}
	}

	// hero
	.hero {
		&__title,
		&__text {
			max-width: 20rem;
		}

		&__text {
			font-size: var(--fs);
		}

		&__picture {
			width: 18rem;
			left: -10rem;
			bottom: -8rem;
		}

		&__info {
			&-title {
				font-size: var(--fs-sm);
			}

			&-text {
				width: 9.375rem;
				font-size: 0.75rem;
			}
		}

		&-swiper {
			max-width: calc(100% - 7rem);
		}
	}

	// features
	.feature {
		&__picture {
			height: 3.75rem;
		}

		&__title {
			font-size: var(--fs);
		}

		&__text {
			font-size: var(--fs-sm);
		}
	}

	// insolvency
	.insolvency {
		border-radius: var(--radius);
		padding-block: 1rem;

		&__header {
			margin-bottom: 2rem;
		}

		&__achieved {
			&-current {
				font-size: 3rem;
			}
		}

		&__main {
			border-radius: var(--radius-sm);
			gap: 0;

			.insolvency__title {
				margin-bottom: 1.25rem;
			}
		}

		&__contacts {
			text-align: center;
		}
	}

	// quiz
	.quiz {
		margin-bottom: 1rem;
		padding: 1.25rem var(--container-offset);

		&-header {
			margin-bottom: 1rem;

			&__title {
				font-size: var(--fs);
			}

			&__subtitle {
				font-size: var(--fs-xs);
			}
		}

		&-content {
			gap: .375rem;
			margin-bottom: 1.25rem;
		}

		&-bottom {

			&__text {
				max-width: 8rem;
				font-size: .625rem;
			}
		}

		&-prev-btn,
		&-next-btn {
			--_padding: .25rem 1.125rem;
		}

		&-hint {
			font-size: .625rem;
		}
	}

	// law
	.law {

		&__picture {
			width: 14.1875rem;
			height: 15.375rem;
			right: -4rem;
			bottom: -4rem;
		}

		.section-header {
			gap: 1rem;
		}

		&-swiper {
			font-size: var(--fs-sm);

			&__slide-icon {
				--_i-size: 1.25rem;
			}
		}

		&--background {
			padding-block: 4rem 0;
			background-size: 50vw;
		}

		&--inverse {

			.law__card {
				border-radius: var(--radius-lg);
				padding: 1.25rem 1.125rem 2rem;

				&-title--bigger {
					font-size: 3rem;
				}

				&-text {
					font-size: var(--fs-sm);
				}
			}

			.law-swiper__slide {
				gap: .625rem;

				&-title {
					font-size: var(--fs);
				}
			}
		}
	}

	// key
	.key-card {
		padding: 0 1rem;

		&__image {
			height: 6.25rem;
		}

		&__title {
			font-size: var(--fs);
		}

		&__text {
			font-size: var(--fs-sm);
		}
	}

	// footer
	.footer {
		padding-block: 1.5rem 2.5rem;

		&__logo {
			width: max-content;
			margin-inline: auto;

			.image {
				height: 3.75rem;
			}
		}

		&__start {
			gap: 1.25rem;
		}

		&__top {
			justify-content: center;
			text-align: center;
		}

		&__bottom {
			flex-direction: column;
			margin-top: 2.25rem;
			font-size: var(--fs-sm);
			border-top: 0;
			padding-top: 0;
			text-align: center;

			&-list {
				flex-direction: column;

				&_link {
					--_width: auto;
				}
			}
		}

		&__list {
			display: none;
		}

	}
}

/** > 576px **/
@media (max-width: 36rem) {

	// menu
	.menu {
		max-width: 100%;
	}

	// law
	.law--background {
		background-size: contain;
	}

}

/** > 380px **/
@media (max-width: 23.75rem) {
}
