.section {
	margin-bottom: 9.375rem;

	&-header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1.25rem;
		margin-bottom: 4rem;

		&--center {
			justify-content: center;
			text-align: center;
		}
	}

	&-title {
		margin-bottom: 0;
	}

	&-text {
		font-size: var(--fs-xxl);
	}
}