.swiper-container {
	padding-inline: max(var(--container-offset), (100% - var(--content-width)) / 2);
}

.swiper {
	--swiper-theme-color: var(--primary-color);
	--swiper-pagination-bullet-inactive-color: var(--secondary-color);
	--swiper-pagination-bullet-inactive-opacity: 1;

	&-pagination {
		position: static;
		text-align: left;
	}
}

.resizable-swiper {

	.swiper-slide {
		width: auto;
		height: auto;
	}

	.swiper-pagination {
		padding-top: 1rem;
	}
	
	&__slide {
		--_width: 11.875rem;
		--_height: 100%;
		--_font-size: var(--fs-lg);
		flex-direction: column;
		justify-content: flex-start;
		font-family: var(--font-title);
		text-align: center;

		&-picture {
			display: block;
			text-align: center;
		}

		&-image {
			height: 7.5rem;
			object-fit: contain;
			object-position: bottom;

			&--full {
				width: 11.875rem;
				height: 11.875rem;
				display: block;
				object-fit: cover;
				object-position: center;
			}

			&--radius {
				border-radius: var(--radius-lg);
			}
		}
	}
}

.swiper-navigation {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6.25rem;
	margin-top: 5rem;
}

.swiper-pagination-custom {
	width: max-content;
	display: flex;
	align-items: center;
	gap: .75rem;

	&-current {
		font-family: var(--font-title);
		font-size: var(--h1);
		font-weight: 700;
		color: var(--secondary-color);
	}
}

.swiper-button-custom {
	gap: 1.75rem;
	margin-top: 0;
	position: static;

	&::after {
		all: initial;
	}
}

/** < 1200px **/
@media (min-width: 75rem) {
	.resizable-swiper {
		
		.swiper-wrapper {
			flex-wrap: wrap;
			justify-content: center;
			gap: 4rem 1.875rem;
		}

		.swiper-pagination {
			display: none;
		}

		&--triple {
	
			.swiper-slide {
				width: 25.625rem;
			}
		}
	}
}