<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__start">
        <a href="./index.html" class="logo footer__logo">
          <picture>
            <img loading="lazy" src="./img/logo.svg" class="image" width="236" height="60" alt="Лого">
          </picture>
        </a>
        <div class="footer__start-info">
          <div class="footer__start-name">
            ИП Исаев Магомедкамиль Идрисович
          </div>
          <ul class="list-reset footer__start-list">
            <li>
              ИНН 260710282924
            </li>
            <li>
              ОГРНИП 318265100141281
            </li>
            <li>
              ОКПО 0138313442
            </li>
          </ul>
        </div>
      </div>

      <ul class="list-reset footer__list footer__list--mobile">
        <li class="footer__list-socials">
          Онлайн-чат:
          <ul class="list-reset footer__socials">
            <li>
              <a href="#" class="btn footer__socials-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/whatsapp-fill.svg#svg-whatsapp-fill"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a href="#" class="btn footer__socials-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/telegram-fill.svg#svg-telegram-fill"></use>
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="list-reset footer__list footer__list--mobile">
        <li class="footer__list-socials">
          Мы в соцсетях:
          <ul class="list-reset footer__socials">
            <li>
              <a href="#" class="btn footer__socials-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/vk.svg#svg-vk"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a href="#" class="btn footer__socials-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/instagram.svg#svg-instagram"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a href="#" class="btn footer__socials-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/facebook.svg#svg-facebook"></use>
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__list-header">
          <h3 class="footer__list-title">
            Контакты
          </h3>
        </li>

        <li class="footer__list-contacts">
          <ul class="list-reset footer__contacts">
            <li class="footer__contacts-item">
              <a href="tel:+78652599279" class="btn footer__contacts-link footer__contacts-phone">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/phone-fill.svg#svg-phone-fill"></use>
                  </svg>
                </span>
                +7 (865) 259-92-79
              </a>
            </li>
            <li class="footer__contacts-item">
              <div class="btn footer__contacts-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/location-fill.svg#svg-location-fill"></use>
                  </svg>
                </span>
                <span class="footer__contacts-link_content">
                  <span>г. Ставрополь, ул. Ленина, 359, 2 этаж, офис 35</span>
                  <a href="#" class="btn btn-link footer__contacts-link_link">
                    Показать на карте
                  </a>
                </span>
              </div>
            </li>
          </ul>
        </li>

        <li class="footer__list-schedule">
          <div class="footer__list-schedule_name">
            График работы:
          </div>
          <div class="footer__list-schedule_value">
            Пн-Пт 09:00–18:00
          </div>
        </li>
      </ul>
    </div>

    <div class="footer__bottom">
      <p class="footer__copy">
        © Агентство по банкротству Спасение, 2021-2024
      </p>

      <ul class="list-reset footer__bottom-list">
        <li>
          <a href="#" class="btn btn-link footer__bottom-list_link">
            Политика конфиденциальности
          </a>
        </li>
        <li>
          <a href="#" class="btn btn-link footer__bottom-list_link">
            Пользовательское соглашение
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
