<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo">
      <picture>
        <img loading="lazy" src="./img/logo.svg" class="image" width="236" height="60" alt="Лого">
      </picture>
    </a>

    <nav class="header__nav">
      <ul class="list-reset header__list">
        <li class="header__list-item">
          <div class="dropdown">
            <button type="button" class="btn dropdown__btn">
              о компании
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/down.svg#svg-down"></use>
                </svg>
              </span>
            </button>
            <div class="dropdown__body">
              <div class="dropdown__content">
                <ul class="list-reset dropdown__list">
                  <li class="dropdown__list-item">
                    <a href="#" class="btn dropdown__list-link">
                      Команда
                    </a>
                  </li>
                  <li class="dropdown__list-item">
                    <a href="#" class="btn dropdown__list-link">
                      Выигранные дела
                    </a>
                  </li>
                  <li class="dropdown__list-item">
                    <a href="#" class="btn dropdown__list-link">
                      Отзывы
                    </a>
                  </li>
                  <li class="dropdown__list-item">
                    <a href="#" class="btn dropdown__list-link">
                      Сертификаты
                    </a>
                  </li>
                  <li class="dropdown__list-item">
                    <a href="#" class="btn dropdown__list-link">
                      Контакты
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="header__list-item">
          <div class="dropdown">
            <button type="button" class="btn dropdown__btn">
              услуги
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/down.svg#svg-down"></use>
                </svg>
              </span>
            </button>
            <div class="dropdown__body">
              <div class="dropdown__content dropdown__content--double">
                <div class="dropdown__content-item">
                  <a href="#" class="btn dropdown__content-btn">
                    <picture>
                      <source srcset="./img/icons/emblem.webp" type="image/webp">
                      <img loading="lazy" src="./img/icons/emblem.png" class="image" width="30" height="30" alt="Картинка">
                    </picture>
                    Закон о банкротстве
                  </a>
                  <span class="dropdown__content-title">
                    Какие долги можно списать
                  </span>
                  <ul class="list-reset dropdown__list dropdown__list--icon">
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/credit.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/credit.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Банковские кредиты
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/loans.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/loans.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Займы в МФО
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/loan-debts.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/loan-debts.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Долги по кредитным картам
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/tax-debts.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/tax-debts.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Долги по налогам
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/penalty-debts.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/penalty-debts.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Долги по пеням и штрафам
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/receivables.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/receivables.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Долги по распискам
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/car-loan.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/car-loan.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Автокредит
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/mortgage-loan.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/mortgage-loan.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Ипотечный кредит
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/housing-debts.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/housing-debts.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Долги по ЖКХ
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown__content-item">
                  <a href="#" class="btn dropdown__content-btn">
                    Онлайн консультация
                  </a>
                  <span class="dropdown__content-title">
                    Кому мы можем списать долги
                  </span>
                  <ul class="list-reset dropdown__list dropdown__list--icon">
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/individuals.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/individuals.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Физические лица
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/individual-entrepreneurs.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/individual-entrepreneurs.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Индивидуальные предприниматели
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/legal-persons.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/legal-persons.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Юридические лица
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/pensioners.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/pensioners.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Пенсионеры
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/civil-servants.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/civil-servants.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Госслужащие
                      </a>
                    </li>
                    <li class="dropdown__list-item">
                      <a href="#" class="btn dropdown__list-link">
                        <picture class="dropdown__list-picture">
                          <source srcset="./img/icons/unemployed.webp" type="image/webp">
                          <img loading="lazy" src="./img/icons/unemployed.png" class="dropdown__list-image" width="30" height="30" alt="Картинка">
                        </picture>
                        Безработные
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="header__list-item">
          <a href="#" class="btn header__list-link">
            Справочник
          </a>
        </li>
        <li class="header__list-item">
          <a href="#" class="btn header__list-link">
            Консультация
          </a>
        </li>
      </ul>
    </nav>

    <a href="#" class="btn btn-yandex header__yandex">
      <picture>
        <source srcset="./img/yandex-reviews.webp" type="image/webp">
        <img loading="lazy" src="./img/yandex-reviews.png" class="image" width="152" height="58" alt="Яндекс Отзывы">
      </picture>
    </a>

    <a href="tel:+78652599279" class="btn btn-phone header__phone">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
        </svg>
      </span>
      <div class="btn-phone__content">
        <span class="btn-phone__text">
          Звоните, мы сейчас работаем
        </span>
        <span class="btn-phone__value">
          +7 (865) 259-92-79
        </span>
      </div>
    </a>

    <button class="btn burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/menu.svg#svg-menu"></use>
        </svg>
      </span>
    </button>
  </div>

  <div class="menu" data-menu>
    <div class="menu__header">
      <a href="./index.html" class="logo menu__logo">
        <picture>
          <img loading="lazy" src="./img/logo.svg" class="image" width="236" height="60" alt="Лого">
        </picture>
      </a>
      <a href="tel:+78652599279" class="btn btn-phone menu__phone">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
          </svg>
        </span>
        <div class="btn-phone__content">
          <span class="btn-phone__text">
            Звоните, мы сейчас работаем
          </span>
          <span class="btn-phone__value">
            +7 (865) 259-92-79
          </span>
        </div>
      </a>
      <button class="btn menu__close" data-menu-close="">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/x.svg#svg-x"></use>
          </svg>
        </span>
      </button>
    </div>

    <div class="menu__main">
      <nav class="menu__nav">
        <ul class="list-reset menu__list">
          <li class="menu__list-item">
            <div class="accordion">
              <button class="btn accordion__btn menu__list-link">
                услуги
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/down.svg#svg-down"></use>
                  </svg>
                </span>
              </button>
              <div class="accordion__body">
                <div class="accordion__content">
                  <ul class="list-reset accordion__list">
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Банковские кредиты
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Займы в МФО
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Долги по кредитным картам
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Долги по налогам
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Долги по пеням и штрафам
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Долги по распискам
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Автокредит
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Ипотечный кредит
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Долги по ЖКХ
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Физические лица
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Индивидуальные предприниматели
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Юридические лица
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Пенсионеры
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Госслужащие
                      </a>
                    </li>
                    <li class="accordion__list-item">
                      <a href="#" class="btn accordion__list-link">
                        Безработные
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="menu__list-item">
            <a href="#" class="btn menu__list-link">
              команда
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="btn menu__list-link">
              отзывы
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="btn menu__list-link">
              выигранные дела
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="btn menu__list-link">
              Справочник
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="btn menu__list-link">
              Закон о банкротстве
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="btn menu__list-link">
              Онлайн консультация
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="btn menu__list-link">
              контакты
            </a>
          </li>
        </ul>
      </nav>

      <ul class="list-reset menu__address">
        <li class="menu__address-item">
          <span class="icon menu__address-icon">
            <svg>
              <use xlink:href="img/icons/location.svg#svg-location"></use>
            </svg>
          </span>
          г. Ставрополь, ул. Ленина, 359, 2 этаж, офис 35
        </li>
        <li class="menu__address-item">
          <span class="icon menu__address-icon">
            <svg>
              <use xlink:href="img/icons/location.svg#svg-location"></use>
            </svg>
          </span>
          г. Махачкала, проспект Имама Шамиля, 8а
        </li>
      </ul>

      <a href="#" class="btn btn-yandex menu__yandex">
        <picture>
          <source srcset="./img/yandex-reviews.webp" type="image/webp">
          <img loading="lazy" src="./img/yandex-reviews.png" class="image" width="152" height="58" alt="Яндекс Отзывы">
        </picture>
      </a>

      <p class="menu__text">
        Узнайте подойдет ли процедура банкротства через МФЦ для вашего случая
      </p>
      <a href="#" class="btn btn-lg btn-primary menu__btn">
        получить консультацию
      </a>
    </div>
  </div>
  <div data-menu-overlay=""></div>
</header>
