<div class="graph-modal">
	<div class="graph-modal__container graph-modal__container--quiz" role="dialog" aria-modal="true" data-graph-target="modal-quiz">
		<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/x.svg#svg-x"></use>
				</svg>
			</span>
		</button>
		<div class="graph-modal__content">
			<div class="insolvency__main">
				<div class="insolvency__main-start">
					<h2 class="h3 insolvency__title">
						Узнайте подойдет ли процедура банкротства через МФЦ для вашего случая
					</h2>
					<div class="insolvency__quastion">
						<span class="insolvency__quastion-icon">
							?
						</span>
						<div class="insolvency__quastion-text">
							Ответьте на 5 вопросов и получите <span class="secondary-color fw-700">честную бесплатную
								консультацию</span>, на которой вы пойдете как сохранить свое имущество, узнаете стоимость и
							порядок прохождения процедуры
						</div>
					</div>
					<div class="insolvency__contacts">
						<p class="insolvency__contacts-text">
							Или задайте вопрос юристу в одном из мессенжеров:
						</p>
						<ul class="list-reset insolvency__contacts-list">
							<li class="insolvency__contacts-list_item">
								<a href="#" class="btn insolvency__contacts-list_whatsapp">
									<span class="icon">
										<svg>
											<use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
										</svg>
									</span>
								</a>
							</li>
							<li class="insolvency__contacts-list_item">
								<a href="#" class="btn insolvency__contacts-list_telegram">
									<span class="icon">
										<svg>
											<use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
										</svg>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="insolvency__main-end">
					<form class="quiz">
						<div class="quiz-progress-bar">
							<span class="quiz-progress-value">0%</span>
							<span class="quiz-progress"></span>
						</div>
						<div class="quiz-step">
							<div class="quiz-header">
								<h3 class="quiz-header__title">
									укажите общую сумму вашей задолженности
								</h3>
							</div>
							<div class="quiz-content">
								<label class="checkbox checkbox--radio">
									<div class="checkbox-field">
										<input type="radio" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check"></span>
									</div>
									<p class="checkbox-text">
										До 300 000 ₽
									</p>
								</label>
								<label class="checkbox checkbox--radio">
									<div class="checkbox-field">
										<input type="radio" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check"></span>
									</div>
									<p class="checkbox-text">
										300 000 - 500 000 ₽
									</p>
								</label>
								<label class="checkbox checkbox--radio">
									<div class="checkbox-field">
										<input type="radio" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check"></span>
									</div>
									<p class="checkbox-text">
										500 000 - 1 млн. ₽
									</p>
								</label>
								<label class="checkbox checkbox--radio">
									<div class="checkbox-field">
										<input type="radio" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check"></span>
									</div>
									<p class="checkbox-text">
										Более 1 млн. ₽
									</p>
								</label>
							</div>
							<div class="quiz-bottom">
								<p class="quiz-bottom__text">
									<span class="fw-700">Выберите вариант ответа</span>
									и нажмите кнопку «Далее»
								</p>

								<button type="button" class="btn btn-primary quiz-next-btn">
									далее
								</button>
							</div>
						</div>
						<div class="quiz-step">
							<div class="quiz-header">
								<h3 class="quiz-header__title">
									Есть ли у вас имущество  в собственности?
								</h3>
							</div>
							<div class="quiz-content">
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										Квартира
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										Автомобиль
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										Гараж
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										Земельный участок
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										Коммерческая недвижимость
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="arrears" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										Нет имущества в собственности
									</p>
								</label>
							</div>
							<div class="quiz-bottom">
								<button type="button" class="btn btn-secondary quiz-prev-btn">
									назад
								</button>

								<button type="button" class="btn btn-primary quiz-next-btn">
									далее
								</button>
							</div>
						</div>
						<div class="quiz-step">
							<div class="quiz-header">
								<h3 class="quiz-header__title">
									Находитесь ли вы официальном браке ?
								</h3>
								<span class="quiz-header__subtitle">
									Брак зарегистрированный в органах ЗАГСа, если, даже, вы не живёте вместе
								</span>
							</div>
							<div class="quiz-content">
								<label class="checkbox checkbox--radio">
									<div class="checkbox-field">
										<input type="radio" class="checkbox-input" name="marriage" data-quiz-required>
										<span class="checkbox-check"></span>
									</div>
									<p class="checkbox-text">
										Да
									</p>
								</label>
								<label class="checkbox checkbox--radio">
									<div class="checkbox-field">
										<input type="radio" class="checkbox-input" name="marriage" data-quiz-required>
										<span class="checkbox-check"></span>
									</div>
									<p class="checkbox-text">
										Нет
									</p>
								</label>
							</div>
							<div class="quiz-bottom">
								<button type="button" class="btn btn-secondary quiz-prev-btn">
									назад
								</button>

								<button type="button" class="btn btn-primary quiz-next-btn">
									далее
								</button>
							</div>
						</div>
						<div class="quiz-step">
							<div class="quiz-header">
								<h3 class="quiz-header__title">
									Есть ли у вас имущество  в собственности?
								</h3>
							</div>
							<div class="quiz-content">
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="deals" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										продал(а) автомобиль
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="deals" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										подарил(а) автомобиль
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="deals" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										продал(а) дом/квартиру/земельный участок
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="deals" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										подарил(а) дом/квартиру/земельный участок
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="deals" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										подарил/продал(а) иное имущество
									</p>
								</label>
								<label class="checkbox">
									<div class="checkbox-field">
										<input type="checkbox" class="checkbox-input" name="deals" data-quiz-required>
										<span class="checkbox-check">
											<span class="icon">
												<svg>
													<use xlink:href="img/icons/check.svg#svg-check"></use>
												</svg>
											</span>
										</span>
									</div>
									<p class="checkbox-text">
										сделок не было
									</p>
								</label>
							</div>
							<div class="quiz-bottom">
								<button type="button" class="btn btn-secondary quiz-prev-btn">
									назад
								</button>

								<button type="button" class="btn btn-primary quiz-next-btn">
									далее
								</button>
							</div>
						</div>
						<div class="quiz-step">
							<div class="quiz-header">
								<h3 class="quiz-header__title">
									Есть ли у вас непогашенная  ипотека?
								</h3>
							</div>
							<div class="quiz-content">
								<label class="checkbox checkbox--radio">
									<div class="checkbox-field">
										<input type="radio" class="checkbox-input" name="mortgage" data-quiz-required>
										<span class="checkbox-check"></span>
									</div>
									<p class="checkbox-text">
										Да
									</p>
								</label>
								<label class="checkbox checkbox--radio">
									<div class="checkbox-field">
										<input type="radio" class="checkbox-input" name="mortgage" data-quiz-required>
										<span class="checkbox-check"></span>
									</div>
									<p class="checkbox-text">
										Нет
									</p>
								</label>
							</div>
							<div class="quiz-bottom">
								<button type="button" class="btn btn-secondary quiz-prev-btn">
									назад
								</button>

								<button type="button" class="btn btn-primary quiz-next-btn">
									далее
								</button>
							</div>
						</div>
						<div class="quiz-step">
							<div class="quiz-header">
								<h3 class="quiz-header__title quiz-header__title--last">
									Укажите телефон
								</h3>
								<span class="quiz-header__subtitle">
									мы свяжемся с вами <span class="secondary-color fw-700">в течение 30 минут</span>, уточним детали вашей ситуации, подберем наиболее выигрышную стратегию проведения банкротства в рамках правовых норм
								</span>
							</div>
							<div class="quiz-content quiz-content--last">
								<div class="form-field">
									<input type="tel" class="field" name="tel" placeholder="+7 (___) ___-__-__" required>
								</div>
							</div>
							<div class="quiz-bottom quiz-bottom--submit">
								<button type="submit" class="btn btn-lg btn-primary quiz-submit">
									получить консультацию
								</button>
								<div class="quiz-hint">
									Нажимая кнопку, вы соглашаетесь с условиями <a href="#" class="btn btn-link quiz-hint-link">политики конфиденциальности</a>
								</div>
							</div>
						</div>
					</form>

					<div class="insolvency__contacts">
						<p class="insolvency__contacts-text">
							Или задайте вопрос юристу в одном из мессенжеров:
						</p>
						<ul class="list-reset insolvency__contacts-list">
							<li class="insolvency__contacts-list_item">
								<a href="#" class="btn insolvency__contacts-list_whatsapp">
									<span class="icon">
										<svg>
											<use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
										</svg>
									</span>
								</a>
							</li>
							<li class="insolvency__contacts-list_item">
								<a href="#" class="btn insolvency__contacts-list_telegram">
									<span class="icon">
										<svg>
											<use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
										</svg>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="graph-modal__container graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-callback">
		<button class="btn js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<span class="icon">
				<svg>
					<use xlink:href="img/icons/x.svg#svg-x"></use>
				</svg>
			</span>
		</button>
		<div class="graph-modal__content">
			<form action="#" class="graph-modal__form">
				<h2 class="h5 graph-modal__form-title">
					Задайте вопрос нашему юристу онлайн
				</h2>
				<p class="graph-modal__form-text">
					Предоставим детальный анализ проблемы и экспертную юридическую консультацию у нас в офисе или в другом удобном формате.
				</p>

				<div class="form-field">
					<input type="text" class="field graph-modal__form-field" name="name" placeholder="Ваше имя" required="">
				</div>
				<div class="form-field">
					<input type="tel" class="field graph-modal__form-field" name="tel" placeholder="Контактный телефон*" required="">
				</div>
				<div class="form-field">
					<textarea class="field graph-modal__form-field" name="message" placeholder="Напишите интересующий вас вопрос"></textarea>
				</div>
				<button type="submit" class="btn btn-lg btn-primary graph-modal__form-submit">
					получить консультацию онлайн
				</button>
				<p class="graph-modal__form-hint">
					Нажимая кнопку, вы соглашаетесь с условиями <a href="#" class="btn btn-inherit text-underline">политики конфиденциальности</a>
				</p>
			</form>
		</div>
	</div>
</div>